$padding-1: 1em;
$padding-2: 1.5em;
$padding-3: 3em;

$margin-1: 1em;
$margin-2: 1.5em;
$margin-3: 3em;

$font-size-default: 1em;
$font-size-small: 0.8em;
$font-size-subtitle: 1.5em;
$font-size-title: 3em;

$font-family-title: "Playfair Display", Georgia, "Times New Roman", serif;
$font-family-default: Georgia, "Times New Roman", serif;

$color-1: #81d1cf;
$color-2: #fffcf9;
$color-3: #f4ac45;
$color-4: #13315c;
$color-5: #343a40;

$border-radius-1: 10px;
