.comment {
  .comment-footer {
    margin: $margin-1 0;
    display: block;
    text-align: right;
    padding-top: $padding-1;
    font-size: $font-size-small;
    .delete-icon{
      padding-left: $padding-1; 
    }
  }
}
