
.controls{ 
    display:inline-block; 
    padding:$padding-1; 
    >div{
        width:20px; 
        height: 20px; 
        float:right; 
        margin-right:$margin-1; 
        cursor: pointer;
        font-size:20px; 
        padding-top: 3px; 
    }
    button {
        float:right; 
        margin: 0 0 0 $margin-1; 
    }

}

