.post-view{
    padding: $padding-1 0; 

    .post{
        .post-header{
            .header-title{
                cursor:default; 
                &:hover{
                    color:black; 
                }  
            }
        }
    }
}

.post-back-panel{
    cursor: pointer;

    &:hover{
        color:lightgrey; 
    }
}