body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em; }

body h1 {
  font-size: 3em; }

.hidden {
  display: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 2.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

header {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 1em; }
  header h1 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold; }

.post {
  border: 1px solid #343a40;
  border-radius: 10px;
  margin-bottom: 1em; }
  .post .post-header {
    border-bottom: 1px solid #343a40;
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 1em 0; }
    .post .post-header .header-title {
      width: 100%;
      font-weight: bolder;
      padding: 0;
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
      cursor: pointer; }
      .post .post-header .header-title:hover {
        color: lightgrey; }
    .post .post-header .header-vote {
      text-align: right;
      width: 100%; }
      .post .post-header .header-vote i {
        padding: 0 0.5em;
        cursor: pointer; }
        .post .post-header .header-vote i:hover {
          color: lightgrey; }
  .post .post-entry {
    padding: 0;
    display: inline-flex;
    margin-bottom: 1em; }
    .post .post-entry .post-main .post-footer {
      margin: 1em 0;
      display: block;
      text-align: right;
      padding-top: 1em;
      font-size: 0.8em; }
      .post .post-entry .post-main .post-footer .author {
        font-weight: bold;
        font-style: italic; }
      .post .post-entry .post-main .post-footer .edit-icon {
        padding: 1em;
        cursor: pointer; }
        .post .post-entry .post-main .post-footer .edit-icon:hover {
          color: lightgrey; }
        .post .post-entry .post-main .post-footer .edit-icon img {
          width: 20px;
          height: 20px; }
      .post .post-entry .post-main .post-footer .delete-icon {
        padding: 1em;
        cursor: pointer; }
        .post .post-entry .post-main .post-footer .delete-icon:hover {
          color: lightgrey; }
    .post .post-entry .post-comments {
      border-left: 1px solid black;
      box-sizing: border-box;
      padding-left: 1em; }
      .post .post-entry .post-comments .comment-reply-panel {
        float: right;
        margin-top: 1em; }
  .post .input-comment-panel {
    border-top: 1px solid black;
    padding: 1em;
    display: inline-block;
    width: 100%; }
    .post .input-comment-panel form .input-comment-btn-panel {
      display: inline-block;
      text-align: right;
      width: 100%; }
      .post .input-comment-panel form .input-comment-btn-panel .input-comment-btn {
        margin: 1em 0 1em 1em; }

@media only screen and (max-width: 767.69px) {
  .post .post-entry {
    display: block; }
    .post .post-entry .post-main {
      border-bottom: none;
      margin-bottom: 1em; }
    .post .post-entry .post-comments {
      border: none; } }

.comment .comment-header {
  text-align: right; }
  .comment .comment-header i {
    padding: 0 0.5em;
    cursor: pointer; }
    .comment .comment-header i:hover {
      color: lightgray; }

.comment .comment-footer {
  margin: 1em 0;
  display: block;
  text-align: right;
  padding-top: 1em;
  font-size: 0.8em; }
  .comment .comment-footer .delete-icon {
    padding-left: 1em;
    cursor: pointer; }
    .comment .comment-footer .delete-icon:hover {
      color: lightgrey; }

.controls {
  display: inline-block;
  padding: 1em; }
  .controls > div {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 1em;
    cursor: pointer;
    font-size: 20px;
    padding-top: 3px; }
    .controls > div:hover {
      color: lightgrey; }
  .controls button {
    float: right;
    margin: 0 0 0 1em; }

.categories {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #343a40;
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  box-sizing: border-box; }
  .categories li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    box-sizing: border-box; }
    .categories li:hover {
      color: lightgrey; }

@media screen and (max-width: 767.69px) {
  .categories {
    margin-bottom: 1em; } }

.edit-post-view .edit-post-title {
  padding: 1.5em 0;
  font-weight: bold;
  font-size: 1.5em; }

.edit-post-view .edit-post textarea {
  height: 500px;
  overflow: auto; }

.edit-post-view button {
  margin: 0 0 0 1em; }

.post-view {
  padding: 1em 0; }
  .post-view .post .post-header .header-title {
    cursor: default; }
    .post-view .post .post-header .header-title:hover {
      color: black; }

.post-back-panel {
  cursor: pointer; }
  .post-back-panel:hover {
    color: lightgrey; }
